* {
    font-family: 'Nunito', sans-serif;
    color: #433f60;
    text-shadow: 1px 1px #dedede;
}

h1, h2, h3, h4, h5, p, a{
    margin: 0;
}

body{
    /*background-image: linear-gradient(to top, #dedede, #ffffff);*/
    background-color: #EDEEF7;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

